<!DOCTYPE html>
<html lang="en">

<body>
  <div>
    <h1>Thank you for your message</h1>
    <div>
      <h3>Your message details</h3>
      <p>
        <strong> Name: <%=formData.name%> </strong>
      </p>
      <p>
        <strong> Email: <%=formData.email%> </strong>
      </p>
      <p>
        <strong> Message: <%=formData.message%> </strong>
      </p>
    </div>
  </div>
</body>

</html>