<!DOCTYPE html>
<html lang="en">



<body>
    <h1>Home Page</h1>
    <p>Welcome to the home page!</p>
    <h2>
        <%=title%>
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ut rem, temporibus eaque labore recusandae
        commodi omnis nobis laborum veniam exercitationem sed, quidem esse ducimus eius animi ratione dicta. Hic!</p>
</body>

</html>