<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <h1>Contact Us Page</h1>
    <img style="width: 300px" src="/assets/images/contact.jpg" alt="Home" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem expedita
      iure cupiditate fugiat exercitationem! Repellat aliquid sit aliquam
      fugiat, tempore in doloremque deserunt dicta velit autem explicabo
      voluptates illum corporis.
    </p>
  </body>
</html>
